view,
image {
    box-sizing: border-box;
}
body,
view {
    font-family: PingFang SC, PingFang SC-Regular;
}
.img {
    width: 100%;
    height: 100%;
}
.cont {
    padding: 24rpx;
}
.p-a-24r {
    padding: 24rpx;
}
.page {
    // height: 100vh;
    min-height: 100vh;
    background: #F7F9FF;
    font-size: 28rpx;
    color: #000;
    font-weight: 400;
}
.txt {
    text-align: center;
    font-style: normal;
    text-transform: none;
}
.fc-zhu {
    color: #3b1707;
}
.panel {
    background: #fff;
    border-radius: 4rpx;
}
.icon-img {
    width: 32rpx;
    height: 32rpx;
}
.box-bg {
    background: #ece5dd;
    box-shadow: 0rpx -2rpx 8rpx 0rpx rgba(0, 0, 0, 0.25);
    border-radius: 16rpx;
}
.k {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    .k-main {
        display: flex;
        flex: auto;
    }
}
.a {
    flex: auto;
}
.bg-k {
    background: #fff;
}
.bg-2 {
    background: #8f92a1;
}
.bg-3 {
    background: #f7f7f7;
}
.bg-page {
    background: #fafafa;
}
.bg-lan {
    background: #1677FF;
}
.br-2 {
    border-radius: 2rpx;
}
.br-4 {
    border-radius: 4rpx;
}
.br-5 {
    border-radius: 5rpx;
}
.br-6 {
    border-radius: 6rpx;
}
.br-8 {
    border-radius: 8rpx;
}
.br-10 {
    border-radius: 10rpx;
}
.br-12 {
    border-radius: 12rpx;
}
.br-16 {
    border-radius: 16rpx;
}
.br-18 {
    border-radius: 18rpx;
}
.br-20 {
    border-radius: 20rpx;
}
.br-24 {
    border-radius: 24rpx;
}
.br-30 {
    border-radius: 30rpx;
}
.br-36 {
    border-radius: 36rpx;
}
.br-40 {
    border-radius: 40rpx;
}
.br-50 {
    border-radius: 50%;
}
.p-a-5 {
    padding: 5rpx;
}
.p-y-5 {
    padding-top: 5rpx;
    padding-bottom: 5rpx;
}
.p-x-5 {
    padding-right: 5rpx;
    padding-left: 5rpx;
}
.p-t-5 {
    padding-top: 5rpx;
}
.p-l-5 {
    padding-left: 5rpx;
}
.p-r-5 {
    padding-right: 5rpx;
}
.p-b-5 {
    padding-bottom: 5rpx;
}
.p-a-10 {
    padding: 10rpx;
}
.p-l-10 {
    padding-left: 10rpx;
}
.p-t-10 {
    padding-top: 10rpx;
}
.p-r-10 {
    padding-right: 10rpx;
}
.p-b-10 {
    padding-bottom: 10rpx;
}
.p-x-10 {
    padding-right: 10rpx;
    padding-left: 10rpx;
}
.p-y-10 {
    padding-top: 10rpx;
    padding-bottom: 10rpx;
}
.p-t-15 {
    padding-top: 15rpx;
}
.p-r-15 {
    padding-right: 15rpx;
}
.p-b-15 {
    padding-bottom: 15rpx;
}
.p-l-15 {
    padding-left: 15rpx;
}
.p-y-15 {
    padding-top: 15rpx;
    padding-bottom: 15rpx;
}
.p-a-15 {
    padding: 15rpx;
}
.p-x-15 {
    padding-left: 15rpx;
    padding-right: 15rpx;
}
.p-a-20 {
    padding: 20rpx;
}
.p-x-20 {
    padding-left: 20rpx;
    padding-right: 20rpx;
}
.p-l-20 {
    padding-left: 20rpx;
}
.p-t-20 {
    padding-top: 20rpx;
}
.p-b-20 {
    padding-bottom: 20rpx;
}
.p-x-20 {
    padding-right: 20rpx;
    padding-left: 20rpx;
}
.p-x-25 {
    padding-right: 25rpx;
    padding-left: 25rpx;
}
.p-y-20 {
    padding-top: 20rpx;
    padding-bottom: 20rpx;
}
.p-r-20 {
    padding-right: 20rpx;
}
.p-y-30 {
    padding-top: 30rpx;
    padding-bottom: 30rpx;
}
.p-y-40 {
    padding-top: 40rpx;
    padding-bottom: 40rpx;
}
.p-a-30 {
    padding: 30rpx;
}
.p-t-30 {
    padding-top: 30rpx;
}
.p-l-30 {
    padding-left: 30rpx;
}
.p-r-30 {
    padding-right: 30rpx;
}
.p-x-30 {
    padding-right: 30rpx;
    padding-left: 30rpx;
}
.p-x-40 {
    padding-right: 40rpx;
    padding-left: 40rpx;
}
.p-b-30 {
    padding-bottom: 30rpx;
}
.p-t-0 {
    padding-top: 0rpx !important;
}
.p-r-0 {
    padding-right: 0rpx !important;
}
.p-b-0 {
    padding-bottom: 0rpx !important;
}
.p-l-0 {
    padding-left: 0rpx !important;
}
.p-y-15 {
    padding-top: 15rpx;
    padding-bottom: 15rpx;
}
.m-a-5 {
    margin: 5rpx;
}
.m-l-5 {
    margin-left: 5rpx;
}
.m-t-5 {
    margin-top: 5rpx;
}
.m-t-3{
    margin-top: 3rpx;
}
.m-r-5 {
    margin-right: 5rpx;
}
.m-b-5 {
    margin-bottom: 5rpx;
}
.m-a-10 {
    margin: 10rpx;
}
.m-l-10 {
    margin-left: 10rpx;
}
.m-r-10 {
    margin-right: 10rpx;
}
.m-t-10 {
    margin-top: 10rpx;
}
.m-b-10 {
    margin-bottom: 10rpx;
}
.m-t-15 {
    margin-top: 15rpx;
}
.m-l-15 {
    margin-left: 15rpx;
}
.m-r-15 {
    margin-right: 15rpx;
}
.m-b-15 {
    margin-bottom: 15rpx;
}
.m-l-20 {
    margin-left: 20rpx;
}
.m-r-20 {
    margin-right: 20rpx;
}
.m-x-10 {
    margin-left: 10rpx;
    margin-right: 10rpx;
}
.m-x-20 {
    margin-left: 20rpx;
    margin-right: 20rpx;
}
.m-y-20 {
    margin-top: 20rpx;
    margin-bottom: 20rpx;
}
.m-t-20 {
    margin-top: 20rpx;
}
.m-b-20 {
    margin-bottom: 20rpx;
}
.m-t-30 {
    margin-top: 30rpx;
}
.m-y-40 {
    margin-top: 40rpx;
    margin-bottom: 40rpx;
}
.m-b-30 {
    margin-bottom: 30rpx;
}
.m-r-30 {
    margin-right: 30rpx;
}
.m-l-30 {
    margin-left: 30rpx;
}
.m-t-40 {
    margin-top: 40rpx;
}
.m-b-40 {
    margin-bottom: 40rpx;
}
.w-a {
    width: 100%;
}
.h-a {
    height: 100%;
}
.x {
    display: flex;
    flex-direction: row;
    &.c {
        align-items: center;
        justify-content: center;
    }
    &.t {
        align-items: flex-start;
    }
    &.r {
        justify-content: flex-end;
    }
    &.b {
        align-items: flex-end;
    }
    &.l {
        justify-content: flex-start;
    }
    &.c-y {
        align-items: center;
    }
    &.c-x {
        justify-content: center;
    }
    &.jc-sb {
        justify-content: space-between;
    }
    &.jc-sa {
        justify-content: space-around;
    }
    &.hh {
        flex-wrap: wrap;
    }
}
.y {
    display: flex;
    flex-direction: column;
    &.c {
        align-items: center;
        justify-content: center;
    }
    &.c-y {
        justify-content: center;
    }
    &.c-x {
        align-items: center;
    }
    &.r {
        align-items: flex-end;
    }
    &.b {
        justify-content: flex-end;
    }
    &.jc-se {
        justify-content: space-evenly;
    }
    &.jc-sb {
        justify-content: space-between;
    }
    &.jc-sa {
        justify-content: space-around;
    }
}
.flex-1 {
    flex: 1;
}
.flex-1-2 {
    flex: 1.2 !important;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.b-a {
    border: 1rpx solid #eeeeee;
}
.b-t {
    border-top: 1rpx solid #eeeeee;
}
.b-r {
    border-right: 1rpx solid #eeeeee;
}
.b-b {
    border-bottom: 1rpx solid #eeeeee;
}
.b-l {
    border-left: 1rpx solid #eeeeee;
}
.fw-400 {
    font-weight: 400;
}
.f10 {
    font-size: 10rpx;
}
.f12 {
    font-size: 12rpx;
}
.f13 {
    font-size: 13rpx;
}
.f14 {
    font-size: 14rpx;
}
.f16 {
    font-size: 16rpx;
}
.f17 {
    font-size: 17rpx;
}
.f18 {
    font-size: 18rpx;
}
.f20 {
    font-size: 20rpx;
}
.f22 {
    font-size: 22rpx;
}
.f24 {
    font-size: 24rpx;
}
.f25 {
    font-size: 25rpx;
}
.f26 {
    font-size: 26rpx;
}
.f28 {
    font-size: 28rpx;
}
.f30 {
    font-size: 30rpx;
}
.f32 {
    font-size: 32rpx;
}
.f34 {
    font-size: 34rpx;
}
.f36 {
    font-size: 36rpx;
}
.f40 {
    font-size: 40rpx;
}
.f44 {
    font-size: 44rpx;
}
.f60 {
    font-size: 60rpx;
}
.f68 {
    font-size: 68rpx;
}
.f96 {
    font-size: 96rpx;
}
.fc0 {
    color: #000000;
}
.fc2 {
    color: rgba(0, 0, 0, 0.45);
}
.fc3 {
    color: #333333;
}
.fc4 {
    color: #595757;
}
.fc5 {
    color: rgba(0, 0, 0, 0.45);
}
.fc6 {
    color: #666666;
}
.fc9 {
    color: #999999;
}
.fc76 {
    color: #767676;
}
.fc96 {
    color: #969696;
}
.fc32 {
    color: #323232;
}
.fc-lv {
    color: #47ca63;
}
.fc-lan {
    color: #165DFF;
}
.fc-bai {
    color: #ffffff;
}
.fc-cheng {
    color: #ff5e1f;
}
.fc-2c {
    color: #2c2c2c;
}
.font-b {
    font-weight: bold;
}
.fw-700 {
    font-weight: 700;
}
.fw-500 {
    font-weight: 500;
}
.shou {
    cursor: pointer;
}
.pos-r {
    position: relative;
}
.pos-a {
    position: absolute;
}
.xing {
    position: relative;
    &::before {
        content: '*';
        color: #d82e2e;
        margin-right: 4rpx;
    }
}
.o-h {
    overflow: hidden;
}
.o-x {
    overflow-x: auto;
    overflow-y: hidden;
}
.o-y {
    // overflow-y: auto;
    overflow-y: overlay;
    overflow-x: hidden;
}
.w10 {
    width: 10rpx;
    min-width: 10rpx;
    max-width: 10rpx;
}
.w20 {
    width: 20rpx;
    min-width: 20rpx;
    max-width: 20rpx;
}
.w30 {
    width: 30rpx;
    min-width: 30rpx;
    max-width: 30rpx;
}
.w40 {
    width: 40rpx;
    min-width: 40rpx;
    max-width: 40rpx;
}
.w50 {
    width: 50rpx;
    min-width: 50rpx;
    max-width: 50rpx;
}
.w60 {
    width: 60rpx;
    min-width: 60rpx;
    max-width: 60rpx;
}
.w80 {
    width: 80rpx;
    min-width: 80rpx;
    max-width: 80rpx;
}
.w100 {
    width: 100rpx;
    min-width: 100rpx;
    max-width: 100rpx;
}
.w120 {
    width: 120rpx;
    min-width: 120rpx;
    max-width: 120rpx;
}
.w150 {
    width: 150rpx;
    min-width: 150rpx;
    max-width: 150rpx;
}
.w200 {
    width: 200rpx;
    min-width: 200rpx;
    max-width: 200rpx;
}
.w240 {
    width: 240rpx;
    min-width: 240rpx;
    max-width: 240rpx;
}
.w300 {
    width: 300rpx;
    min-width: 300rpx;
    max-width: 300rpx;
}
.w350 {
    width: 350rpx;
    min-width: 350rpx;
    max-width: 350rpx;
}
.w400 {
    width: 400rpx;
    min-width: 400rpx;
    max-width: 400rpx;
}
.w-fc {
    width: fit-content;
    min-width: fit-content;
}
.h-fc {
    height: fit-content;
    min-height: fit-content;
}
.h10 {
    height: 10rpx;
    min-height: 10rpx;
    max-height: 10rpx;
}
.h20 {
    height: 20rpx;
    min-height: 20rpx;
    max-height: 20rpx;
}
.h30 {
    height: 30rpx;
    min-height: 30rpx;
    max-height: 30rpx;
}
.h32 {
    height: 32rpx;
    min-height: 32rpx;
    max-height: 32rpx;
}
.h40 {
    height: 40rpx;
    min-height: 40rpx;
    max-height: 40rpx;
}
.h45 {
    height: 45rpx;
    min-height: 45rpx;
    max-height: 45rpx;
}
.h50 {
    height: 50rpx;
    min-height: 50rpx;
    max-height: 50rpx;
}
.h60 {
    height: 60rpx;
    min-height: 60rpx;
    max-height: 60rpx;
}
.h80 {
    height: 80rpx;
    min-height: 80rpx;
    max-height: 80rpx;
}
.h100 {
    height: 100rpx;
    min-height: 100rpx;
    max-height: 100rpx;
}
.h120 {
    height: 120rpx;
    min-height: 120rpx;
    max-height: 120rpx;
}
.h150 {
    height: 150rpx;
    min-height: 150rpx;
    max-height: 150rpx;
}
.h200 {
    height: 200rpx;
    min-height: 200rpx;
    max-height: 200rpx;
}
.h300 {
    height: 300rpx;
    min-height: 300rpx;
    max-height: 300rpx;
}
.h400 {
    height: 400rpx;
    min-height: 400rpx;
    max-height: 400rpx;
}
.h500 {
    height: 500rpx;
    min-height: 500rpx;
    max-height: 500rpx;
}
.bhh {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dhh {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 定义文本的行数 */
    overflow: hidden;
    text-overflow: ellipsis;
}
.xing {
    &::before {
        content: '*';
        color: #f56c6c;
        margin-right: 4rpx;
    }
}
.first-no-m {
    &:first-child {
        margin: 0 !important;
    }
}
.first-no-p {
    &:first-child {
        padding: 0 !important;
    }
}
.last-no-m {
    &:last-child {
        margin: 0 !important;
    }
}
.last-no-p {
    &:last-child {
        padding: 0 !important;
    }
}
.hover-class {
    background: #fafafa;
}
.flex-wrap {
    flex-wrap: wrap;
}
.dialog {
    transition: all 0.1s;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 9999;
}
.hide-dialog {
    transition: all 0.1s;
    opacity: 0;
    z-index: -100;
}
.w-s-p {
    white-space: wrap;
}